/* line 5, ../../../Programs/Programming/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Programs/Programming/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Programs/Programming/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Programs/Programming/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Programs/Programming/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Programs/Programming/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Programs/Programming/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Programs/Programming/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Programs/Programming/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ===================
   ==== overrides ==== 
   =================== */
/* line 7, ../scss/style.scss */
html, body {
  font-family: 'Oswald', sans-serif;
  color: #333333;
  margin: 0px;
  padding: 0px;
  background: #dddddd;
}

/* line 15, ../scss/style.scss */
h1 {
  font-size: 3.7em;
  line-height: 1.2em;
}

/* line 20, ../scss/style.scss */
h2 {
  color: #00e1b6;
  font-size: 2.5em;
}

/* line 25, ../scss/style.scss */
h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

/* line 30, ../scss/style.scss */
strong, a {
  color: #FF6700;
}

/* line 34, ../scss/style.scss */
a:hover {
  color: #00e1b6;
}

/* line 38, ../scss/style.scss */
li {
  padding-bottom: 10px;
}

/* line 42, ../scss/style.scss */
nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-bottom: 5px;
}

/* line 49, ../scss/style.scss */
p {
  text-align: left;
  padding-bottom: 20px;
}

/* ===================
   ======= ids ======= 
   =================== */
/* line 58, ../scss/style.scss */
#animate1 {
  padding: 50px 0px 0px 0px;
}

/* line 62, ../scss/style.scss */
#about {
  background: #ffffff;
}

/* line 67, ../scss/style.scss */
#contact {
  background: #f9f9f9;
  text-align: center;
}

/* line 73, ../scss/style.scss */
#faq {
  background: #dddddd;
  text-align: center;
}

/* line 79, ../scss/style.scss */
#logo {
  margin-left: -30px;
}

/* line 83, ../scss/style.scss */
#services {
  background: #f9f9f9;
}

/* line 88, ../scss/style.scss */
#title {
  text-align: center;
}

/* ===================
   ===== classes ===== 
   =================== */
/* line 99, ../scss/style.scss */
.center {
  text-align: center;
}

/* line 103, ../scss/style.scss */
.fullpage, #about, #contact, #faq, #services, #title {
  width: 100%;
  padding: 100px 0px 150px 0px;
  min-height: 100%;
}

/* line 108, ../scss/style.scss */
.items {
  text-align: left;
}

/* line 111, ../scss/style.scss */
.list {
  padding-top: 15px;
  line-height: 1.3em;
}

/* line 115, ../scss/style.scss */
.morebottom {
  padding-bottom: 150px;
}

/* line 119, ../scss/style.scss */
.navheight {
  height: 30px;
}

/* line 124, ../scss/style.scss */
.navlink {
  line-height: 12px;
  color: #333333 !important;
}
/* line 128, ../scss/style.scss */
.navlink:hover {
  color: #00e1b6 !important;
}

/* line 132, ../scss/style.scss */
.pad {
  margin: 20px 0px 0px 0px;
}

/* line 136, ../scss/style.scss */
.tab {
  padding-right: 20px;
}

@media screen and (max-width: 400px) {
  /* line 141, ../scss/style.scss */
  h1 {
    font-size: 3em;
  }
}
